@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/function" as *;

@include b(user-avatar) {
  @include e(wrapper) {
    padding-top: 5px;
  }

  @include e(head) {
    padding: 0 0 4px;
  }

  @include e(avatar) {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
  }

  @include e(info) {
    width: calc(100% - 60px);
    height: 100%;
    margin-left: 15px;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: cssVar(gray-800);
    }

    .email {
      margin-top: 3px;
      font-size: 12px;
      color: cssVar(gray-500);
    }
  }

  @include e(menu) {
    row-gap: 5px;
    padding: 0;
    margin-top: 10px;

    li {
      padding: 6px 4px;
      cursor: pointer;
      user-select: none;
      border-radius: 6px;

      &:hover {
        background-color: rgb(cssVar(gray-200-rgb), 0.7);
      }

      .icon {
        display: block;
        width: 25px;
        font-size: 16px;
        color: var(text-gray-800);
      }

      .label {
        font-size: 14px;
        color: cssVar(text-gray-800);
      }
    }
  }

  .#{$el-namespace}-divider {
    margin: 10px 0;
  }
}
