.waves-ripple {
  position: absolute;
  pointer-events: none;
  user-select: none;
  background-color: rgb(0 0 0 / 15%);
  background-clip: padding-box;
  border-radius: 100%;
  opacity: 1;
  transform: scale(0);
}

.waves-ripple.z-active {
  opacity: 0;
  transition: opacity 1.2s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transform: scale(2);
}
