@include b(mixins-layout) {
  .has-trigger {
    visibility: hidden;
  }
  @include joins(layout-logo) {
    margin-right: 10px;
  }

  /* 内容区减去 header 高度，否则无法滚动 */
  @include e(content) {
    height: calc(100% - getCssVar(layout-header-height));
  }
}
