// #{$el-namespace} 默认为 el，如果组件迁移到其他项目，且项目架构与此项目不同，则请修改 #{$el-namespace} 为 el
.pro-table-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // table-search 表格搜索样式
  .table-search {
    padding: 18px 18px 0;
    margin-bottom: 10px;

    .#{$el-namespace}-form {
      .#{$el-namespace}-form-item__content > * {
        width: 100%;
      }

      // 去除时间选择器上下 padding
      .#{$el-namespace}-range-editor.#{$el-namespace}-input__wrapper {
        padding: 0 10px;
      }
    }

    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 18px;
    }
  }

  .table-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;

    // 表格 header 样式
    .table-header {
      .header-button-lf {
        float: left;
      }

      .header-button-ri {
        float: right;

        .#{$el-namespace}-button:focus-visible {
          outline: none;
        }
      }

      .#{$el-namespace}-button {
        margin-bottom: 15px;
      }
    }

    // el-table 表格样式
    .#{$el-namespace}-table {
      flex: 1;

      // 修复 safari 浏览器表格错位
      table {
        width: 100%;
      }

      .#{$el-namespace}-table__header th {
        height: 45px;
        font-size: 15px;
        font-weight: bold;
        color: var(--el-text-color-primary);
        background: var(--el-fill-color-light);
      }

      .#{$el-namespace}-table__row {
        height: 45px;
        font-size: 14px;

        .#{$el-namespace}-table__placeholder {
          display: inline;
        }
      }

      // 设置 el-table 中 header 文字不换行，并省略
      .#{$el-namespace}-table__header .#{$el-namespace}-table__cell > .cell {
        white-space: nowrap;
      }

      // 解决表格数据为空时样式不居中问题(仅在element-plus中)
      .#{$el-namespace}-table__empty-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .table-empty {
          line-height: 30px;
        }
      }

      // table 中 image 图片样式
      .table-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    // 表格 pagination 样式
    .#{$el-namespace}-pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }

  /* ProTable 不需要 card 样式（在组件内使用 ProTable 会使用到） */
  .no-card {
    .card {
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .table-search {
      padding: 18px 0 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--el-fill-color-blank);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}
