$prefix-class: #{$namespace}-work-dialog;

// #{$el-namespace} 默认为 el，如果组件迁移到其他项目，且项目架构与此项目不同，则请修改 #{$el-namespace} 为 el
.#{$prefix-class}.#{$el-namespace}-dialog.is-fullscreen {
  --el-dialog-width: 100% !important;
  --el-dialog-margin-top: 0 !important;

  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.#{$prefix-class}.#{$el-namespace}-dialog {
  .#{$el-namespace}-dialog__header {
    border-bottom: 1px solid var(--el-border-color-lighter);
  }

  .#{$el-namespace}-dialog__body {
    padding-top: 15px;
  }

  .#{$el-namespace}-dialog__footer {
    border-top: 1px solid var(--el-border-color-lighter);
  }
}
