.work-dialog.el-dialog.is-fullscreen {
  --el-dialog-width: 100% !important;
  --el-dialog-margin-top: 0 !important;

  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.work-dialog.el-dialog {
  .el-dialog__header {
    border-bottom: 1px solid var(--el-border-color-lighter);
  }

  .el-dialog__body {
    padding-top: 15px;
  }

  .el-dialog__footer {
    border-top: 1px solid var(--el-border-color-lighter);
  }
}
