@use "@/styles/mixins/namespace" as *;

$prefix-class: #{$admin-namespace}-work-dialog;

.#{$prefix-class}.#{$el-namespace}-dialog.is-fullscreen {
  --#{$el-namespace}-dialog-width: 100% !important;
  --#{$el-namespace}-dialog-margin-top: 0 !important;

  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.#{$prefix-class}.#{$el-namespace}-dialog {
  .#{$el-namespace}-dialog__header {
    border-bottom: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }

  .#{$el-namespace}-dialog__body {
    padding: 15px;
  }

  .#{$el-namespace}-dialog__footer {
    border-top: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }
}
