@import "@/styles/variables.module.scss";

.layout-container {
  position: relative;
  height: 100%;
  width: 100%;

  .drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
  }

  .el-aside {
    height: 100%;
    transition: width 0.28s;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    overflow: inherit;
    background: var(--menu-bg-color);

    :deep(.el-scrollbar) {
      height: calc(100% - 55px);

      .el-menu {
        overflow-x: hidden;
        border-right: none;
      }
    }

    .logo {
      box-sizing: border-box;
      height: 55px;
      border-bottom: 1px solid var(--menu-logo-line-color);
      cursor: pointer;

      span {
        font-size: 21.5px;
        font-weight: bold;
        white-space: nowrap;
        color: var(--menu-logo-title-color);
      }

      img {
        width: 28px;
        object-fit: contain;
        margin-right: 6px;
      }
    }
  }

  &.menu-expand .el-aside {
    width: $sideMenuWidth !important;
  }

  &.menu-collapse .el-aside {
    transition-duration: 0.3s;
    width: 64px !important;
  }

  .el-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 15px;
    border-bottom: 1px solid #3c3c3c1f;
  }
}
