.vertical {
  .el-menu,
  .el-menu--popup {
    .el-menu-item {
      &.is-active {
        background: var(--menu-active-bg-color);
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 4px;
          content: "";
          background: var(--el-color-primary);
        }
      }
      &:hover {
        background: var(--menu-hover-bg-color);
      }
    }
    .el-sub-menu,
    .el-menu-item {
      &:not(.is-active) {
        .el-icon,
        .svg-icon {
          color: var(--menu-icon-color);
        }
      }
    }
    .el-sub-menu {
      .el-menu {
        background-color: var(--sub-menu-bg-color) !important;
        .el-menu-item {
          &.is-active {
            background-color: var(--sub-menu-active-bg-color) !important;
          }
          &:hover {
            background-color: var(--sub-menu-hover-bg-color) !important;
          }
        }
      }
    }
  }
  // 菜单折叠的样式
  .el-popper {
    .el-menu--popup {
      background: var(--sub-menu-bg-color);
      .el-menu-item {
        &.is-active {
          background: var(--sub-menu-active-bg-color);
        }
        &:hover {
          background: var(--sub-menu-hover-bg-color);
        }
      }
    }
  }
  .header-icon .el-dropdown {
    color: var(--el-text-color-primary);
  }
}
