@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/function" as *;

@include b(vertical-layout) {
  /* 折叠按钮添加左间距 */
  .#{$el-namespace}-header {
    padding-left: 10px !important;
  }

  @include e(drawer-bg) {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--#{$el-namespace}-color-black);
    opacity: 0.3;
  }

  &.mobile {
    .#{$el-namespace}-aside {
      position: fixed !important;
      top: 0 !important;
      width: 0 !important;
      transition: transform var(--#{$el-namespace}-transition-duration) !important;
    }

    .is-collapse {
      .#{$el-namespace}-aside,
      .#{$admin-namespace}-layout-logo {
        width: 0 !important;
        pointer-events: none !important;
      }
    }
  }
}
