@use "@/styles/namespace.scss" as *;

$prefix-class: #{$admin-namespace}-work-drawer;

// #{$el-namespace} 默认为 el，如果组件迁移到其他项目，且项目架构与此项目不同，则请修改 #{$el-namespace} 为 el
.#{$prefix-class}.#{$el-namespace}-drawer.is-fullscreen {
  width: 100% !important;
  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.#{$prefix-class}.#{$el-namespace}-drawer {
  .#{$el-namespace}-drawer__header {
    padding: 15px 20px 14px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }

  .#{$el-namespace}-drawer__footer {
    border-top: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }
}
