/* 自定义 element 暗黑模式样式 */
html.dark {
  // * kbt-admin
  --kbt-bg-color: #141414;
  --kbt-main-bg-color: #0d0d0d;
  --kbt-border-light: 1px solid #4c4c4d;

  // 以下为自定义暗黑模式内容
  .login-container {
    background-color: var(--el-fill-color-extra-light) !important;
    .login-box {
      background-color: var(--el-mask-color) !important;
      .login-form {
        background-color: var(--el-bg-color) !important;
        box-shadow: 5px 5px 15px rgb(161 161 161 / 20%) !important;
        .logo-text {
          color: var(--el-text-color-primary) !important;
        }
      }
    }
  }

  // scroll-bar
  ::-webkit-scrollbar {
    background-color: var(--el-scrollbar-bg-color) !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--el-border-color-darker) !important;
  }

  // layout
  .el-container {
    .el-header {
      background-color: var(--kbt-bg-color) !important;
      border-bottom-color: var(--el-border-color-light) !important;
    }
    .el-main {
      background-color: var(--kbt-main-bg-color) !important;
    }
    .el-tabs,
    .tabs-nav {
      background-color: var(--kbt-bg-color) !important;
      border-bottom: 1px solid var(--el-border-color-light);
      .btn-icon .el-button {
        border-color: var(--el-border-color-light) !important;
      }
    }
    .el-footer {
      .footer {
        background-color: var(--kbt-bg-color) !important;
        border-top-color: var(--el-border-color-light) !important;
        a {
          color: var(--el-text-color-regular) !important;
        }
      }
    }
  }
}
