// #{$el-namespace} 默认为 el，如果组件迁移到其他项目，且项目架构与此项目不同，则请修改 #{$el-namespace} 为 el
$prefix-class: #{$admin-namespace}-tree-filter;

.#{$prefix-class} {
  box-sizing: border-box;
  width: 220px;
  height: 100%;
  padding: 18px;
  margin-right: 10px;

  &__title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--#{$el-namespace}-color-info-dark-2);
    letter-spacing: 0.5px;
  }

  .#{$el-namespace}-input {
    margin: 0 0 15px;
  }

  .#{$el-namespace}-scrollbar {
    :deep(.#{$el-namespace}-tree) {
      height: 80%;
      overflow: auto;

      .#{$el-namespace}-tree-node__content {
        height: 33px;
      }
    }

    :deep(.#{$el-namespace}-tree--highlight-current) {
      .#{$el-namespace}-tree-node.is-current > .#{$el-namespace}-tree-node__content {
        background-color: var(--#{$el-namespace}-color-primary);

        .#{$el-namespace}-tree-node__label,
        .#{$el-namespace}-tree-node__expand-icon {
          color: white;
        }

        .is-leaf {
          color: transparent;
        }
      }
    }
  }
}
