@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/namespace" as *;
@use "@/styles/mixins/function" as *;

@include b(pro-table) {
  // 修复 safari 浏览器表格错位
  table {
    width: 100%;

    thead {
      color: var(--#{$admin-namespace}-text-gray-700);

      th {
        font-size: 15px;

        //  header 文字不换行，并 ... 省略
        .cell {
          white-space: nowrap;
        }
      }
    }

    tbody {
      // 单元格字体颜色
      // color: var(--#{$admin-namespace}-text-gray-800);
    }
  }
}

@include b(pro-table-head) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;

  @include e(right) {
    display: flex;
    align-items: center;
  }
}
