@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/function" as *;

@include b(subsystem-layout) {
  @include e(drawer-bg) {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--#{$el-namespace}-color-black);
    opacity: 0.3;
  }
}
