@use "@/styles/mixins/namespace" as *;

$prefix-class: #{$admin-namespace}-subsystem-layout;

.#{$prefix-class} {
  &__menu {
    .#{$el-namespace}-menu,
    .#{$el-namespace}-menu--popup {
      .menu-item {
        &.is-active {
          background: var(--menu-active-bg-color);
          font-weight: 700;

          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            content: "";
            background: var(--#{$el-namespace}-color-primary);
          }
        }

        &:hover {
          background: var(--menu-hover-bg-color);
        }
      }

      /* 父级菜单鼠标悬停样式 */
      .#{$el-namespace}-sub-menu__title:hover {
        background-color: var(--menu-hover-bg-color);
      }

      .sub-menu,
      .menu-item {
        &:not(.is-active) {
          .#{$el-namespace}-icon,
          .svg-icon {
            color: var(--menu-icon-color);
          }
        }
      }

      .sub-menu {
        /* 子级高亮，父级也高亮 */
        &.is-active > .#{$el-namespace}-sub-menu__title {
          color: var(--#{$el-namespace}-color-primary);
          font-weight: 700;
        }

        .#{$el-namespace}-menu {
          background-color: var(--sub-menu-bg-color);

          .menu-item {
            &.is-active {
              background-color: var(--sub-menu-active-bg-color);
            }

            &:hover {
              background-color: var(--sub-menu-hover-bg-color);
            }
          }
        }
      }
    }

    /* 菜单折叠的样式 */
    .#{$el-namespace}-menu--popup {
      background: var(--sub-menu-bg-color);

      /* 不用 .el-menu-item 为防止全局菜单样式污染 */
      .menu-item {
        &.is-active {
          background: var(--sub-menu-active-bg-color);
        }

        &:hover {
          background: var(--sub-menu-hover-bg-color);
        }
      }
    }

    .menu-header,
    .menu-header .#{$el-namespace}-dropdown {
      color: var(--#{$el-namespace}-text-color-primary);
    }

    /* Header 不存在，需要重新设置 flex-direction */
    .layout-container > .#{$el-namespace}-container {
      flex-direction: column;
    }
  }
}
