@use "../mixins/namespace" as *;
@use "../mixins/mixins" as *;

$text-color: #babbbd;

/* 菜单主题样式 */
.#{$admin-namespace}-layout {
  /* dark 模式 */
  &-aside.is-dark {
    @include set-css-var(layout-aside-bg-color, #191a23);
    @include set-css-var(layout-aside-bg-active-color, var(--#{$el-namespace}-color-primary-light-2));
    @include set-css-var(layout-aside-bg-hover-color, #26272f);
    @include set-css-var(layout-aside-left-bg-color, var(--#{$el-namespace}-color-primary-light-2));
    @include set-css-var(layout-aside-text-color, #{$text-color});
    @include set-css-var(layout-aside-text-active-color, #ffffff);
    @include set-css-var(layout-aside-text-hover-color, #ffffff);
    @include set-css-var(layout-aside-icon-color, #{$text-color});
    @include set-css-var(layout-aside-icon-active-color, #ffffff);
    @include set-css-var(layout-aside-text-active-weight, 400);
  }

  /* dark 模式下修改 logo 样式（经典布局不修改） */
  &:has(&-aside.is-dark):not(.#{$admin-namespace}-classic-layout) {
    .#{$admin-namespace}-layout-logo {
      background-color: #191a23;

      span {
        color: #{$text-color};
      }
    }
  }
}
