@use "../mixins/namespace" as *;
@use "../mixins/function" as *;

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background-color: cssVar(text-gray-100);
}

/* 滚动条的滑块按钮 */
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0abab;
}

/* 滚动条的上下两端的按钮 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: cssVar(bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--#{$admin-namespace}-gray-300-rgb), 0.8);
  }
}
