@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/namespace" as *;

$prefix-class: #{$admin-namespace}-work-drawer;

@include b(work-drawer) {
  &.#{$el-namespace}-drawer.is-fullscreen {
    width: 100% !important;
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
  }
}

.#{$prefix-class} .#{$prefix-class}.#{$el-namespace}-drawer {
  .#{$el-namespace}-drawer__header {
    padding: 15px 20px 14px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }

  .#{$el-namespace}-drawer__footer {
    border-top: 1px solid var(--#{$el-namespace}-border-color-lighter);
  }
}
