@import "@/styles/variables.module.scss";

.layout-container {
  width: 100%;
  height: 100%;

  .el-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0;
    border-bottom: 1px solid var(--header-line-color);
    background-color: var(--header-bg-color);
    color: var(--header-text-color);

    .header-left {
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;

      .logo {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 210px;
        margin-right: 16px;
        cursor: pointer;

        span {
          font-size: 21.5px;
          font-weight: bold;
          white-space: nowrap;
          color: var(--header-logo-title-color);
        }

        img {
          width: 28px;
          object-fit: contain;
          margin-right: 6px;
        }
      }
    }
  }

  .el-aside {
    height: 100%;
    transition: width 0.28s;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    overflow: inherit;
    background: var(--menu-bg-color);

    :deep(.el-menu) {
      overflow-x: hidden;
      border-right: none;
    }
  }

  &.menu-expand .el-aside {
    width: $sideMenuWidth !important;
  }

  &.menu-collapse .el-aside {
    transition-duration: 0.3s;
    width: 64px !important;
  }

  .classic-container {
    height: calc(100% - 55px); /* 减去头部高度 */
    .classic-main-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
