.classic {
  .el-menu,
  .el-menu--popup {
    .menu-item {
      &.is-active {
        background: var(--menu-active-bg-color);

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 4px;
          content: "";
          background: var(--el-color-primary);
        }
      }

      &:hover {
        background: var(--menu-hover-bg-color);
      }
    }

    .sub-menu,
    .menu-item {
      &:not(.is-active) {
        .el-icon,
        .svg-icon {
          color: var(--menu-icon-color);
        }
      }
    }
  }

  .sub-menu {
    /* 子级高亮，父级也高亮 */
    &.is-active > .el-sub-menu__title {
      color: var(--el-color-primary) !important;
    }

    .el-menu {
      background-color: var(--sub-menu-bg-color) !important;

      .menu-item {
        &.is-active {
          background-color: var(--sub-menu-active-bg-color) !important;
        }

        &:hover {
          background-color: var(--sub-menu-hover-bg-color) !important;
        }
      }
    }
  }

  .menu-collapse .sub-menu.is-active .el-sub-menu__title {
    background-color: var(--sub-menu-active-bg-color) !important;
  }

  /* 菜单折叠的样式 */
  .el-popper {
    .el-menu,
    .el-menu--popup {
      background: var(--sub-menu-bg-color);

      .menu-item {
        &.is-active {
          background: var(--sub-menu-active-bg-color);
        }

        &:hover {
          background: var(--sub-menu-hover-bg-color);
        }
      }
    }
  }

  .header-left {
    /* 面包屑 */
    .el-breadcrumb__inner {
      color: var(--header-text-color);

      &:hover {
        color: var(--el-color-primary);
      }
    }

    .el-breadcrumb__item:last-child .el-breadcrumb__inner,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
      color: #cfd3dc;
    }
  }

  /* 右侧图标 */
  .header-icon,
  .header-icon .el-dropdown {
    color: var(--header-text-color);
  }
}
