$prefix-class: #{$namespace}-classic-layout;

.#{$prefix-class} {
  &__menu {
    .#{$el-namespace}-menu,
    .#{$el-namespace}-menu--popup {
      .menu-item {
        &.is-active {
          background: var(--menu-active-bg-color);

          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            content: "";
            background: var(--el-color-primary);
          }
        }

        &:hover {
          background: var(--menu-hover-bg-color);
        }
      }

      /* 父级菜单鼠标悬停样式 */
      .#{$el-namespace}-sub-menu__title:hover {
        background-color: var(--el-color-primary-light-9);
      }

      .sub-menu,
      .menu-item {
        &:not(.is-active) {
          .#{$el-namespace}-icon,
          .svg-icon {
            color: var(--menu-icon-color);
          }
        }
      }
    }

    .sub-menu {
      /* 子级高亮，父级也高亮 */
      &.is-active > .#{$el-namespace}-sub-menu__title {
        color: var(--el-color-primary);
      }

      .#{$el-namespace}-menu {
        background-color: var(--sub-menu-bg-color);

        .menu-item {
          &.is-active {
            background-color: var(--sub-menu-active-bg-color);
          }

          &:hover {
            background-color: var(--sub-menu-hover-bg-color);
          }
        }
      }
    }

    .menu-collapse .sub-menu.is-active .#{$el-namespace}-sub-menu__title {
      background-color: var(--sub-menu-active-bg-color);
    }

    /* 菜单折叠的样式 */
    .#{$el-namespace}-popper {
      .#{$el-namespace}-menu,
      .#{$el-namespace}-menu--popup {
        background: var(--sub-menu-bg-color);

        .menu-item {
          &.is-active {
            background: var(--sub-menu-active-bg-color);
          }

          &:hover {
            background: var(--sub-menu-hover-bg-color);
          }
        }
      }
    }
  }
}
