$prefix-class: #{$admin-namespace}-classic-layout;

.#{$prefix-class} {
  width: 100%;
  height: 100%;

  .#{$el-namespace}-header {
    box-sizing: border-box;
    height: var(--header-height);
    padding: 0;
    color: var(--header-text-color);
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--header-line-color);

    .#{$prefix-class}__header--left {
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;

      .#{$prefix-class}__logo {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 210px;
        margin-right: 16px;
        cursor: pointer;

        span {
          font-size: 21.5px;
          font-weight: bold;
          color: var(--header-logo-title-color);
          white-space: nowrap;
        }

        img {
          width: 28px;
          margin-right: 6px;
          object-fit: contain;
        }
      }
    }
  }

  .#{$el-namespace}-aside {
    z-index: 1000;
    height: 100%;
    overflow: inherit;
    background: var(--menu-bg-color);
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    transition: width 0.28s;

    :deep(.#{$el-namespace}-menu) {
      overflow-x: hidden;
      border-right: none;
    }
  }

  &.menu-expand .#{$el-namespace}-aside {
    width: var(--aside-width) !important;
  }

  &.menu-collapse .#{$el-namespace}-aside {
    width: 64px !important;
    transition-duration: 0.3s;
  }

  &__aside {
    height: calc(100% - var(--header-height)); /* 减去头部高度 */
  }
}
