@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/function" as *;

@include b(user-avatar) {
  position: relative;
  display: inline-block;
  height: 100%;

  @include e(header) {
    &:hover::after {
      position: absolute;
      inset: 0;
      font-size: 24px;
      font-style: normal;
      line-height: 110px;
      color: #eeeeee;
      cursor: pointer;
      content: "+";
      background: rgb(0 0 0 / 50%);
      border-radius: 50%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @include e(avatar) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
