// 右键菜单
.context-menu {
  margin: 0;
  background: #fff;
  z-index: 4000;
  position: absolute;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 12px;
    cursor: pointer;
    line-height: 31px;
    &:hover {
      color: var(--el-color-primary);
    }
    .el-icon {
      margin-right: 8px;
    }
  }
}
