@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/namespace" as *;

@include b(icon-picker) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include b(icon-picker) {
  @include e(icons) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    @include e(icon) {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        border-color: var(--#{$el-namespace}-color-primary) !important;
      }
    }
  }

  @include e(pagination) {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: var(--#{$el-namespace}-popover-padding);
    padding-left: var(--#{$el-namespace}-popover-padding);
  }
}
