@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/function" as *;

@include b(right-menu) {
  position: absolute;
  z-index: 4000;
  padding: 5px 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  list-style-type: none;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 30%);

  li {
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin: 0;
    line-height: 31px;
    cursor: pointer;

    &:hover {
      color: cssVar(main-color);
    }

    .right-menu-icon {
      margin-right: 8px;
    }
  }
}
