.transverse {
  .el-menu {
    border: none;

    .menu-item {
      &.is-active {
        color: var(--menu-text-color) !important;
        background: var(--split-menu-active-bg-color);

        &:hover {
          color: var(--el-color-primary);
        }
      }

      &:hover {
        background: var(--split-menu-active-bg-color);
      }
    }
  }

  .sub-menu,
  .menu-item {
    &:not(.is-active) {
      .el-icon,
      .svg-icon {
        color: var(--menu-icon-color);
      }
    }
  }

  /* 下拉菜单 */
  .el-menu--popup .menu-item {
    &.is-active {
      background: var(--menu-active-bg-color);

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        content: "";
        background: var(--el-color-primary);
      }
    }

    &:hover {
      background: var(--menu-hover-bg-color);
    }
  }

  /* 横向菜单 */
  .el-menu--horizontal {
    /* 菜单高度 */
    .sub-menu,
    .menu-item {
      height: 54px !important;

      .el-sub-menu__title {
        height: 100%;
      }
    }

    .el-sub-menu__hide-arrow {
      width: 54px !important;
    }
  }

  /* 右侧图标 */
  .header-icon,
  .header-icon .el-dropdown {
    color: var(--header-text-color);
  }
}
