@import "@/styles/variables.module.scss";

.layout-container {
  position: relative;
  height: 100%;
  width: 100%;
  .el-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0;
    border-bottom: 1px solid var(--header-line-color);
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    .logo {
      width: 210px;
      margin-right: 30px;
      cursor: pointer;
      span {
        font-size: 21.5px;
        font-weight: bold;
        white-space: nowrap;
        color: var(--header-logo-title-color);
      }
      img {
        width: 28px;
        object-fit: contain;
        margin-right: 6px;
      }
    }
    :deep(.el-menu) {
      flex: 1;
      overflow: hidden;
      border-bottom: 1px solid var(--header-line-color);
    }
  }
}
