$prefix-class: #{$admin-namespace}-transverse-layout;

.#{$prefix-class} {
  &__menu {
    .#{$el-namespace}-scrollbar__bar.is-vertical {
      visibility: hidden;
    }

    .#{$el-namespace}-menu {
      border-bottom: none;

      .menu-item {
        &.is-active {
          color: var(--menu-text-color);
          background: var(--menu-active-bg-color);

          &:hover {
            color: var(--#{$el-namespace}-color-primary);
          }
        }

        &:hover {
          background: var(--menu-hover-bg-color);
        }
      }
    }

    /* 父级菜单鼠标悬停样式 */
    .#{$el-namespace}-sub-menu .#{$el-namespace}-sub-menu__title:hover {
      background-color: var(--menu-hover-bg-color);
    }

    .sub-menu,
    .menu-item {
      &:not(.is-active) {
        .#{$el-namespace}-icon,
        .svg-icon {
          color: var(--menu-icon-color);
        }
      }
    }

    /* 下拉菜单 */
    .#{$el-namespace}-menu--popup .menu-item {
      /* 子级高亮，父级也高亮 */
      &.is-active {
        color: var(--#{$el-namespace}-color-primary);
      }

      &.is-active::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        content: "";
        background: var(--#{$el-namespace}-color-primary);
      }
    }

    /* 横向菜单 */
    .#{$el-namespace}-menu--horizontal:not(.#{$el-namespace}-menu--popup-container) {
      height: calc(var(--header-height) - 1px);

      .#{$el-namespace}-sub-menu__hide-arrow {
        width: 54px;
        height: calc(var(--header-height) - 1px);
      }
    }
  }
}
