@use "@/styles/mixins/namespace" as *;
@use "@/styles/mixins/function.scss" as *;

$prefix-class: #{$admin-namespace}-menu-layout;

.#{$prefix-class} {
  position: relative;
  width: 100%;
  height: 100%;

  .#{$el-namespace}-header {
    box-sizing: border-box;
    height: getCssVar(layout-header-height);
    padding: 0;
    padding-left: 15px;
    color: getCssVar(header-text-color);
    background-color: getCssVar(bg-color);
  }

  &__drawer-bg {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--#{$el-namespace}-color-black);
    opacity: 0.3;
  }

  .#{$el-namespace}-aside {
    z-index: 1000;
    height: 100%;
    overflow: inherit;
    background: var(--menu-bg-color);
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    transition: width 0.28s;

    :deep(.#{$el-namespace}-scrollbar) {
      height: calc(100% - getCssVar(layout-header-height));

      .el-menu {
        overflow-x: hidden;
        border-right: none;
      }
    }

    .#{$prefix-class}__logo {
      box-sizing: border-box;
      height: getCssVar(layout-header-height);
      cursor: pointer;

      span {
        font-size: 21.5px;
        font-weight: bold;
        color: getCssVar(gray-800);
        white-space: nowrap;
      }

      img {
        width: 28px;
        margin-right: 6px;
        object-fit: contain;
      }
    }
  }

  &.menu-expand .#{$el-namespace}-aside {
    width: getCssVar(layout-open-aside-width) !important;
  }

  &.menu-collapse .#{$el-namespace}-aside {
    width: getCssVar(layout-close-aside-width) !important;
    transition-duration: 0.3s;
  }
}

.mobile {
  .#{$el-namespace}-aside {
    position: fixed !important;
    top: 0 !important;
    width: 0 !important;
    transition: transform 0.28s !important;
  }

  &.menu-collapse {
    .#{$el-namespace}-aside,
    .#{$prefix-class}__logo {
      width: 0 !important;
      pointer-events: none !important;
    }
  }

  .#{$el-namespace}-aside,
  .#{$prefix-class}__logo {
    transition: width 0.28s !important;
  }

  .#{$prefix-class}__logo {
    overflow: hidden;
  }
}
