@use "@/styles/mixins/namespace" as *;

$prefix-class: #{$admin-namespace}-work-dialog;

.#{$prefix-class}.#{$el-namespace}-dialog.is-fullscreen {
  --#{$el-namespace}-dialog-width: 100% !important;
  --#{$el-namespace}-dialog-margin-top: 0 !important;

  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}
