.tabs-nav {
  position: relative;
  width: 100%;
  height: 38px;
  padding: 1px 4px 0;
  line-height: 31px;
  white-space: nowrap;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  transition: left 0.3s ease;

  .scroll-container {
    position: absolute;
    inset: 0 88px 0 28px;
    overflow: hidden;

    .scroll-body {
      position: absolute;
      display: inline-block;
      padding: 2px 4px 0;
      white-space: nowrap;
      transition: left 0.3s ease;

      .tabs-link {
        display: inline-block;
        height: 28px;
        padding: 0 10px;
        margin: 2px 4px 2px 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 27px;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid var(--el-border-color-light);
        border-radius: 3px;

        &.active {
          color: #ffffff;
          background-color: #4c9bd8;

          .dot {
            background-color: #ffffff;
          }
        }

        .dot {
          position: relative;
          top: 1px;
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 7px;
          background-color: var(--el-border-color-light);
          border-radius: 50%;
          transition: background 0.2s ease;
        }

        .tab-icon {
          position: relative;
          top: 2px;
          margin-right: 4px;
          font-size: 15px;
        }

        .icon-close {
          display: inline-block;
          width: 16px;
          height: 16px;
          padding-right: 1px;
          margin-left: 10px;
          font-size: 12px;
          text-align: center;
          vertical-align: 2px;
          cursor: pointer;
          border-radius: 50%;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transform-origin: 100% 50%;

          &:hover {
            color: #ffffff;
            background-color: #b4bccc;
          }

          svg {
            vertical-align: -3px;
          }
        }
      }
    }
  }

  .btn-icon {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;

    &.left-btn {
      left: 0;
    }

    &.right-btn {
      right: 60px;
    }

    .el-button {
      width: 28px;
      height: 100%;
      padding: 6px 4px;
      line-height: 14px;
      text-align: center;
      border-color: var(--el-border-color-light);
      border-top: none;
      border-bottom: none;

      &:active {
        border-color: #a2d0ff !important;
      }

      .el-icon-arrow-left,
      .el-icon-arrow-right {
        font-weight: 600;
      }
    }
  }

  .menu-dropdown {
    position: absolute;
    top: 7px;
    right: 0;
  }
}
