@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/namespace" as *;
@use "@/styles/mixins/function" as *;
@use "@/styles/variables" as *;

@include b(login) {
  position: relative;
  height: 100vh;
  min-height: 550px;
  padding: 30px;
  background-color: #eeeeee;
  background-image: url("@/assets/images/login/login_bg.svg");
  background-size: cover;

  @include e(dark) {
    position: absolute;
    top: 4.5%;
    right: 3.2%;
  }

  @include e(wrapper) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    background-color: #ffffffcc;
    border-radius: 10px;

    @media (max-width: $device-ipad) {
      padding: 0;
      background-color: transparent;
    }

    @include e(left) {
      width: 900px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include e(right) {
      min-width: 450px;
      max-height: 100%;
      padding: 50px 40px 45px;
      overflow: auto;
      background-color: cssVar("main-bg-color");
      border-radius: 10px;
      box-shadow: 2px 3px 7px rgb(0 0 0 / 20%);

      @media (max-width: $device-phone) {
        min-width: 100%;
      }

      @include e(right__header) {
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 30px;

        img {
          width: 60px;
        }

        .title {
          margin: 0;
          font-size: 42px;
          font-weight: 700;
          line-height: 1;
          color: cssVar(text-gray-700);
          white-space: wrap;

          @media (max-width: 640px) {
            font-size: 24px;
            text-align: center;
          }
        }
      }
    }
  }
}
