$prefix-class: #{$namespace}-login;

.#{$prefix-class} {
  position: relative;
  min-width: 520px;
  height: 100%;
  min-height: 520px;
  background-color: #eeeeee;
  background-image: url("@/assets/images/login/login_bg.svg");
  background-size: 100% 100%;
  background-size: cover;

  .dark {
    position: absolute;
    top: 4.5%;
    right: 3.2%;
  }

  &__box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 98%;
    padding: 0 50px;
    background-color: hsl(0deg 0% 100% / 80%);
    border-radius: 10px;

    &--left {
      width: 900px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__form {
      width: 450px;
      padding: 50px 40px 45px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 2px 3px 7px rgb(0 0 0 / 20%);

      &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 45px;

        &__img {
          width: 60px;
          height: 52px;
        }

        &__text {
          padding: 0 0 0 25px;
          margin: 0;
          font-size: 42px;
          font-weight: bold;
          color: #34495e;
          white-space: nowrap;
        }
      }

      .#{$el-namespace}-form-item {
        margin-bottom: 20px;

        .#{$prefix-class}__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        .#{$prefix-class}__third--item {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          cursor: pointer;

          .svg-icon:hover {
            color: var(--el-color-primary);
          }
        }

        :deep(.#{$el-namespace}-input-group__append) {
          padding: 0;
        }
      }
    }
  }

  /* 多个登录表单需要，所以放到外面 */
  &__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;

    .#{$el-namespace}-button {
      width: 185px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .login-left {
    display: none;
  }
}
