.divider {
  margin-top: 15px;

  .el-icon {
    position: relative;
    top: 2px;
    right: 5px;
    font-size: 15px;
  }
}

.drawer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0;

  span {
    font-size: 14px;
  }
}

.layout-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0 0;

  .layout-item {
    position: relative;
    box-sizing: border-box;
    width: 95px;
    height: 67px;
    padding: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--el-border-color-lighter);
    transition: all 0.2s;

    .layout-dark {
      background-color: var(--el-color-primary);
      border-radius: 3px;
    }

    .layout-light {
      background-color: var(--el-color-primary-light-5);
      border-radius: 3px;
    }

    .layout-content {
      background-color: var(--el-color-primary-light-8);
      border: 1px dashed var(--el-color-primary);
      border-radius: 3px;
    }

    .el-icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: var(--el-color-primary);
      transition: all 0.2s;
    }

    &:hover {
      box-shadow: 0 0 5px 1px var(--el-border-color-darker);
    }
  }

  .is-active {
    box-shadow: 0 0 0 2px var(--el-color-primary) !important;
  }

  .layout-vertical {
    display: flex;
    justify-content: space-between;

    .layout-dark {
      width: 20%;
    }

    .layout-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 72%;

      .layout-light {
        height: 20%;
      }

      .layout-content {
        height: 67%;
      }
    }
  }

  .layout-classic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .layout-dark {
      height: 22%;
    }

    .layout-container {
      display: flex;
      justify-content: space-between;
      height: 70%;

      .layout-light {
        width: 20%;
      }

      .layout-content {
        width: 70%;
      }
    }
  }

  .layout-transverse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .layout-dark {
      height: 20%;
    }

    .layout-content {
      height: 67%;
    }
  }

  .layout-columns {
    display: flex;
    justify-content: space-between;

    .layout-dark {
      width: 14%;
    }

    .layout-light {
      width: 17%;
    }

    .layout-content {
      width: 55%;
    }
  }

  .layout-mixins {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .layout-dark {
      height: 22%;
    }

    .layout-container {
      display: flex;
      justify-content: space-between;
      height: 70%;

      .layout-dark {
        width: 20%;
        height: 100%;
      }

      .layout-content {
        width: 70%;
      }
    }
  }

  .layout-subsystem {
    display: flex;
    justify-content: space-between;

    .layout-dark {
      width: 22%;
    }

    .layout-content {
      width: 70%;
    }
  }
}

.menu-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;

  .is-dark {
    cursor: no-drop;

    .menu-box-item {
      pointer-events: none;
    }
  }

  .menu-box-item {
    height: 100%;
    position: relative;
    margin-right: 16px;
    border-radius: 2px;
    cursor: pointer;

    .el-icon {
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: var(--el-color-primary);
      transition: all 0.2s;
    }
  }
}

.tab-box {
  text-align: center;

  .tabs-nav-theme:first-child {
    margin-bottom: 15px;
  }

  .tab-item {
    position: relative;
  }

  .tabs-nav-theme {
    position: relative;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%) !important;
    width: 150px;
    height: 30px;
    background-color: #fff;
    display: inline-flex;
    cursor: pointer;

    .tas-nav-classic-item {
      display: flex;
      align-items: center;
      width: 60px;
      height: 19px;
      margin-top: 5px;
      margin-left: 7px;
      position: relative;

      .dot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #e8eaec;
        position: absolute;
        top: 6px;
        left: 3px;
      }

      .el-icon {
        width: 12px;
        height: 12px;
        font-size: 12px;
        border-radius: 50%;
        margin-left: 5px;
        color: #000;
      }

      &.active {
        background-color: var(--el-color-primary);

        .dot {
          background-color: #fff;
        }

        .el-icon {
          color: #fff;
        }

        .title {
          color: #fff;
        }
      }
    }

    .tas-nav-el-item {
      width: 100px;
      height: 100%;
      color: #ccc;
      display: flex;
      align-items: center;

      &.active {
        color: var(--el-color-primary);
        border-bottom: 1px solid var(--el-color-primary);

        .el-icon {
          color: var(--el-color-primary);
        }
      }

      .title {
        margin-top: 3px;
      }

      .el-icon {
        width: 12px;
        height: 12px;
        margin-top: 3px;
        position: relative;
        top: -1px;
        left: 10px;
      }
    }

    .title {
      font-size: 12px;
      margin-left: 15px;
    }
  }

  .check-icon {
    position: absolute;
    top: 6px;
    right: 15px;
    color: var(--el-color-primary);
    transition: all 0.2s;
  }
}
