$prefix-class: #{$admin-namespace}-error-page;

.#{$prefix-class} {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__img {
    margin-right: 120px;
  }

  &__detail {
    display: flex;
    flex-direction: column;

    h2,
    h4 {
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 60px;
      color: var(--#{$el-namespace}-text-color-primary);
    }

    h4 {
      margin: 30px 0 20px;
      font-size: 19px;
      font-weight: normal;
      color: var(--#{$el-namespace}-text-color-regular);
    }

    // #{$el-namespace} 默认为 el，如果组件迁移到其他项目，且项目架构与此项目不同，则请修改 #{$el-namespace} 为 el
    .#{$el-namespace}-button {
      width: 100px;
    }
  }
}
