$admin-namespace: tk !default;
// el 命名空间
$el-namespace: el !default;

$common-separator: "-" !default;
$element-separator: "__" !default;
$modifier-separator: "--" !default;
$is-state-prefix: "is-" !default;
$has-has-prefix: "has-" !default;
$no-state-prefix: "no-" !default;

// 自定义 EP 样式命名空间
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: #{$el-namespace}
);
