@use "@/styles/namespace.scss" as *;

$prefix-class: #{$admin-namespace}-tabs-nav;

.#{$prefix-class} {
  position: relative;
  background-color: #ffffff;

  svg: {
    display: inline-block;
  }

  :deep(.#{$prefix-class}__content) {
    position: relative;
    width: 100%;

    .#{$el-namespace}-dropdown {
      position: absolute;
      top: 8px;
      right: 13px;
    }

    .#{$prefix-class}__content--icon {
      top: 2px;
      margin-right: 5px;
      font-size: 15px;
    }

    .#{$el-namespace}-tabs__nav-wrap {
      position: absolute;
      width: calc(100% - 110px);
    }

    .#{$el-namespace}-tabs--card > .#{$el-namespace}-tabs__header {
      box-sizing: border-box;
      height: 40px;
      padding: 0 10px;
      margin: 0;
    }

    .#{$el-namespace}-tabs--card > .#{$el-namespace}-tabs__header .#{$el-namespace}-tabs__nav {
      border: none;
    }

    .#{$el-namespace}-tabs--card > .#{$el-namespace}-tabs__header .#{$el-namespace}-tabs__item {
      color: #cccccc;
      border: none;
    }

    .#{$el-namespace}-tabs--card > .#{$el-namespace}-tabs__header .#{$el-namespace}-tabs__item.is-active {
      color: var(--#{$el-namespace}-color-primary);
      border-bottom: 2px solid var(--#{$el-namespace}-color-primary);
    }

    .#{$el-namespace}-tabs__item .is-icon-close svg {
      margin-top: 0.5px;
    }
  }
}
