@import "@/styles/variables.module.scss";

.layout-container {
  width: 100%;
  height: 100%;

  .aside-split {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 71px;
    height: 100%;
    background-color: var(--menu-bg-color);
    border-right: 1px solid var(--menu-logo-line-color);

    .logo {
      box-sizing: border-box;
      height: 55px;
      cursor: pointer;
      border-bottom: 1px solid var(--menu-logo-line-color);

      img {
        width: 32px;
        object-fit: contain;
      }
    }

    .el-scrollbar {
      height: calc(100% - 55px);

      .split-list {
        flex: 1;

        .split-item {
          flex-direction: column;
          height: 70px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--split-menu-active-bg-color);
          }

          .el-icon,
          .svg-icon {
            font-size: 21px;
            color: var(--menu-icon-color);
          }

          .title {
            padding: 5px;
            margin-top: 6px;
            font-size: 12px;
            color: var(--menu-text-color);
            transform: scale(0.96);
          }
        }
      }

      .split-active {
        background-color: var(--split-menu-active-bg-color);

        .el-icon,
        .svg-icon {
          color: var(--menu-icon-color);
        }
      }
    }
  }

  .el-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: var(--menu-bg-color);
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    transition: all 0.3s ease;

    .el-scrollbar {
      height: calc(100% - 55px);

      .el-menu {
        overflow-x: hidden;
        border-right: none;
      }
    }

    .logo {
      box-sizing: border-box;
      height: 55px;
      border-bottom: 1px solid var(--menu-logo-line-color);

      span {
        font-size: 24px;
        font-weight: bold;
        color: var(--menu-logo-title-color);
        white-space: nowrap;
      }
    }
  }

  &.menu-expand .el-aside {
    width: $sideMenuWidth;
  }

  &.menu-collapse .el-aside {
    width: 64px;
    transition-duration: 0.3s;
  }

  .not-aside {
    width: 0 !important;
    border: 0; /* 折叠时确保 border-right 不能多出 1px */
  }

  .el-header {
    box-sizing: border-box;
    height: 55px;
    padding: 0 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
  }
}
