$prefix-class: #{$namespace}-columns-layout;

.#{$prefix-class} {
  width: 100%;
  height: 100%;

  &__aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 71px;
    height: 100%;
    background-color: var(--menu-bg-color);
    border-right: 1px solid var(--menu-logo-line-color);

    &__logo {
      box-sizing: border-box;
      height: var(--el-menu-horizontal-height);
      cursor: pointer;
      border-bottom: 1px solid var(--menu-logo-line-color);

      img {
        width: 32px;
        object-fit: contain;
      }
    }

    .#{$el-namespace}-scrollbar {
      height: calc(100% - var(--el-menu-horizontal-height));

      .#{$prefix-class}__aside__list {
        flex: 1;

        &-item {
          flex-direction: column;
          height: 70px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--split-menu-active-bg-color);
          }

          .#{$el-namespace}-icon,
          .svg-icon {
            font-size: 21px;
            color: var(--menu-icon-color);
          }

          &__title {
            padding: 5px;
            margin-top: 6px;
            font-size: 12px;
            color: var(--menu-text-color);
            transform: scale(0.96);
          }
        }
      }

      .split-active {
        background-color: var(--split-menu-active-bg-color);

        .#{$el-namespace}-icon,
        .svg-icon {
          color: var(--menu-icon-color);
        }
      }
    }
  }

  .#{$el-namespace}-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: var(--menu-bg-color);
    box-shadow: 0 1px 4px rgb(0 21 41 / 9%);
    transition: all 0.3s ease;

    .#{$el-namespace}-scrollbar {
      height: calc(100% - var(--el-menu-horizontal-height));

      .#{$el-namespace}-menu {
        overflow-x: hidden;
        border-right: none;
      }
    }

    .#{$prefix-class}__aside__logo {
      box-sizing: border-box;
      height: var(--el-menu-horizontal-height);
      border-bottom: 1px solid var(--menu-logo-line-color);

      span {
        font-size: 24px;
        font-weight: bold;
        color: var(--menu-logo-title-color);
        white-space: nowrap;
      }
    }
  }

  &.menu-expand .#{$el-namespace}-aside {
    width: var(--aside-width) !important;
  }

  &.menu-collapse .#{$el-namespace}-aside {
    width: 64px;
    transition-duration: 0.3s;
  }

  .#{$el-namespace}-aside.not-aside {
    width: 0 !important;
    border: 0; /* 折叠时确保 border-right 不能多出 1px */
  }

  .#{$el-namespace}-header {
    box-sizing: border-box;
    height: var(--el-menu-horizontal-height);
    padding: 0 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
  }
}
