@use "@/styles/mixins/namespace" as *;
@use "@/styles/mixins/function" as *;
@use "@/styles/mixins/bem" as *;

@include b(columns-layout) {
  /* 自定义菜单样式 */
  @include e(aside) {
    background-color: getCssVar(layout-aside-bg-color);
    border-right: 1px solid getCssVar(layout-aside-line-color);
    width: getCssVar(columns-layout-aside-width);
    height: 100%;

    @include e(logo) {
      width: auto !important;
      img {
        width: 45% !important;
        margin: 0 auto !important;
      }
    }

    @include e(aside__list) {
      margin: 0;
      padding: 0;
    }

    @include e(aside__list-item) {
      height: getCssVar(columns-layout-aside-item-height);
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: getCssVar(layout-aside-bg-hover-color);
      }

      .#{$el-namespace}-icon,
      .svg-icon {
        color: getCssVar(layout-aside-icon-color);
        font-size: 20px;
      }
      .title {
        color: getCssVar(layout-aside-text-color);
        padding: 5px;
        margin-top: 6px;
        font-size: 12px;
      }

      @include when(active) {
        background-color: getCssVar(layout-aside-bg-active-color);
        font-weight: 700;

        .title {
          color: var(--#{$el-namespace}-menu-active-color);
        }
        .#{$el-namespace}-icon,
        .svg-icon {
          color: var(--#{$el-namespace}-menu-active-color);
        }
      }
    }
  }

  /* 折叠按钮添加左间距 */
  .#{$el-namespace}-header {
    padding-left: 20px !important;
  }

  /* 没有二级菜单样式 */
  .#{$el-namespace}-aside.not-aside {
    width: 0 !important;
    border: 0;
  }
}
